Имеется файл с различными оценками асессоров. 

Формат файла: login tuid docid jud cjud 

Пояснение к формату: login — логин асессора; 
                     uid — id асессора (user id); 
                     docid — id оцениваемого документа (document id); 
                     jud — оценка асессора (judgement); 
                     cjud — правильная оценка (correct judgement); 
                     
                     разделитель — табуляция \t. 
                     
Оценки могут принимать значение [0, 1], т.е. задание, которое сделали асессоры, имеет бинарную шкалу. 
Используя данные об оценках, установите, какие асессоры хуже всего справились с заданием. 
На какие показатели вы ориентировались и какие метрики вы использовали для ответа на этот вопрос? 
Можно ли предложить какие-то новые метрики для подсчета качества асессоров с учетом природы оценок у этого бинарного задания? 
Опишите подробно все этапы вашего решения.


1. сгруппировать данные по асессорам и заданиям
2. для каждого ассесора найти процент правильно выполненных заданий
3. для каждого задания найти процент правильного выполнения 
4. для каждого ассесора вычислить эффективность его работы на 10% самых лёгких и 10% самых сложных заданий
5. создать сводную таблицу
6. проанализировать полученные результаты, сделать выводы о качестве работы асессоров

In [37]:
import pandas as pd
import numpy as np

In [6]:
dataframe = pd.read_csv('data_task3.csv', sep='\t', index_col=0)

In [18]:
dataframe.head(2)

             uid  docid  jud  cjud
login
assessor158  158      0    0     0
assessor238  238      0    0     0

In [22]:
# 1. сгруппировать данные по асессорам и заданиям

group_by_user = dataframe.groupby('login')      # группировка по асессорам
group_by_docid = dataframe.groupby('docid')     # группировка по документам

In [23]:
print('количество асессоров  -  ' + str(len(group_by_user)) + '\nколичество документов  -  ' + str(len(group_by_docid)))

количество асессоров  -  600
количество документов  -  50000

In [28]:
dataframe.iloc[0]

uid      158
docid      0
jud        0
cjud       0
Name: assessor158, dtype: int64

In [29]:
dataframe['uid'].iloc[0]

158

In [30]:
# createing a new d

df = dataframe.copy()

In [38]:
# adding new empty columns

df['success'] = np.nan

In [39]:
df.head(5)

             uid  docid  jud  cjud  success
login
assessor158  158      0    0     0      NaN
assessor238  238      0    0     0      NaN
assessor488  488      0    0     0      NaN
assessor136  136      0    0     0      NaN
assessor300  300      0    0     0      NaN