Имеется файл с различными оценками асессоров. 

Формат файла: login tuid docid jud cjud 

Пояснение к формату: login — логин асессора; 
                     uid — id асессора (user id); 
                     docid — id оцениваемого документа (document id); 
                     jud — оценка асессора (judgement); 
                     cjud — правильная оценка (correct judgement); 
                     
                     разделитель — табуляция \t. 
                     
Оценки могут принимать значение [0, 1], т.е. задание, которое сделали асессоры, имеет бинарную шкалу. 
Используя данные об оценках, установите, какие асессоры хуже всего справились с заданием. 
На какие показатели вы ориентировались и какие метрики вы использовали для ответа на этот вопрос? 
Можно ли предложить какие-то новые метрики для подсчета качества асессоров с учетом природы оценок у этого бинарного задания? 
Опишите подробно все этапы вашего решения.

Предваритеьный план:
1. сгруппировать данные по асессорам и заданиям
2. для каждого асесора найти процент правильно выполненных заданий
3. для каждого задания найти процент правильного выполнения 
4. для каждого асесора вычислить эффективность его работы на 10% самых лёгких и 10% самых сложных заданий
5. создать сводную таблицу
6. проанализировать полученные результаты, сделать выводы о качестве работы асессоров

In [150]:
import pandas as pd
import numpy as np

In [6]:
dataframe = pd.read_csv('data_task3.csv', sep='\t', index_col=0)

In [117]:
# 1. сгруппировать данные по асессорам и заданиям

group_by_user = dataframe.groupby('login')      # группировка по асессорам
number_user = len(group_by_user)

group_by_docid = dataframe.groupby('docid')     # группировка по документам
number_doc = len(group_by_docid)

number_notes = len(dataframe)

In [320]:
print('количество асессоров  -  ' + str(number_user) + '\nколичество документов  -  ' + str(number_doc))
print('\nвсего записей  -  ' + str(number_notes) + '\n\nзаписей на одного асессора в среднем  -  ' + str(number_notes / number_user))
print('записей на один документ  -  ' + str(number_notes / number_doc))

количество асессоров  -  600
количество документов  -  50000

всего записей  -  250000

записей на одного асессора в среднем  -  416.6666666666667
записей на один документ  -  5.0

In [125]:
# создание глубокой копии фрейма данных

df = dataframe.copy()

In [133]:
df['success'] = np.nan

# создание списка ключей (списка уникальных значений асессоров)

keys = df.index.unique()

In [135]:
%%time

# заполение столбца бинарными маркерами успешности выполнения задания асессором
# 1 - для правильно оцененного документа, 0 - для проваленной оценки

for i in range (0, len(df)):
    if df['jud'].iloc[i] == df['cjud'].iloc[i]:
        df.iloc[i, df.columns.get_loc('success')] = 1
    else:
        df.iloc[i, df.columns.get_loc('success')] = 0

Wall time: 16min 59s

In [137]:
gbu = df.groupby('login')
gbum = df.groupby('login').mean()      # группировка по асессорам c вычислением среднего

In [139]:
gbum.sort_values(by = ['success'], ascending=False)

               uid         docid       jud      cjud   success
login
assessor296  296.0  24049.261905  0.154762  0.107143  0.923810
assessor545  545.0  25293.725225  0.162162  0.130631  0.923423
assessor184  184.0  24549.223881  0.171642  0.109453  0.922886
assessor63    63.0  24189.748166  0.161369  0.107579  0.921760
assessor191  191.0  25657.260331  0.159091  0.101240  0.921488
...            ...           ...       ...       ...       ...
assessor234  234.0  26636.383838  0.535354  0.141414  0.484848
assessor390  390.0  25813.803398  0.541262  0.114078  0.480583
assessor118  118.0  23988.383632  0.547315  0.099744  0.475703
assessor3      3.0  24876.056338  0.542254  0.115023  0.460094
assessor56    56.0  24636.041363  0.574209  0.111922  0.425791

[600 rows x 5 columns]

Отсортировав полученные данные по значению столбца "success" мы получим простейший показатель оценки эффективности асессора, выраженный в доле правильно выполненных им оценок.
Как видно из полученных данных, эффективность асессоров в верхнем и нижнем топ-5 отличается, практически, в 2 раза.

Однако, данного показаетеля недостаточно для корректной оценки эффективности работы асессора, так как мы не учитываем различия в сложности оценок каждого отдельного документа. Необходимость учета данной особенности исходит из того, что каждый документ не был оценён каждым из асессоров, а также в условиях не указано, что оценка каждого документа равно трудозатратна.

Так как мы не можем дополнить исходные данные для соответсвия выдвинотому условию, необходимо произвести оценку эффективности работы асессоров на 10% статистически наиболее сложных и 10% статистически наиболее лёгких документов.

In [141]:
gbdm = df.groupby('docid').mean()

In [175]:
sort = gbdm.sort_values(by = ['success'], ascending=False)

In [176]:
# 10% от 50000 записей - 5000

first_10 = sort.head(5000)
first_10_list = first_10.index.unique()
last_10 = sort.tail(5000)
last_10_list = last_10.index.unique()

In [187]:
# Отфильтруем из общего массива данных лишь нужные нам

filter_10_first = df.query('docid in @first_10_list')
filter_10_last = df.query('docid in @last_10_list')

Cоздание списка ключей (списка уникальных значений асессоров) для подтверждения гипотезы о том, что каждый из асессоров в ходе своей работы оценивал как документы как из первой(10% наиболее лёгких), так и второй(10% наиболее тяжёлых) выборок.

In [204]:
keys_first = filter_10_first.index.unique()
keys_last = filter_10_last.index.unique()

print(len(keys_first), len(keys_last), number_user)

600 600 600

In [206]:
filter_first = filter_10_first.groupby('login').mean()

In [214]:
#  10 последних результатов для 10% наиболее лёгких в оценке документов

filter_first.sort_values(by = ['success'], ascending=False).tail(10)

               uid         docid       jud      cjud  success
login
assessor274  274.0  24272.727273  0.159091  0.159091      1.0
assessor276  276.0  25738.756757  0.081081  0.081081      1.0
assessor282  282.0  25514.957447  0.063830  0.063830      1.0
assessor277  277.0  25678.628571  0.085714  0.085714      1.0
assessor278  278.0  24707.500000  0.120000  0.120000      1.0
assessor279  279.0  25759.302326  0.139535  0.139535      1.0
assessor28    28.0  25977.968750  0.062500  0.062500      1.0
assessor280  280.0  24357.473684  0.078947  0.078947      1.0
assessor281  281.0  24584.750000  0.150000  0.150000      1.0
assessor99    99.0  24025.102564  0.025641  0.025641      1.0

In [213]:
# 10 последних результатов для наиболее тяжёлых в оценке документов

filter_last = filter_10_last.groupby('login').mean()
filter_last.sort_values(by = ['success'], ascending=False).tail(10)

               uid         docid       jud      cjud   success
login
assessor100  100.0  22808.605263  0.631579  0.289474  0.289474
assessor412  412.0  24434.605263  0.657895  0.105263  0.289474
assessor379  379.0  25858.510204  0.755102  0.040816  0.285714
assessor9      9.0  22606.275862  0.689655  0.120690  0.258621
assessor219  219.0  25151.697674  0.651163  0.186047  0.255814
assessor118  118.0  22103.257576  0.742424  0.106061  0.212121
assessor56    56.0  26131.935897  0.743590  0.141026  0.166667
assessor3      3.0  24121.125000  0.822917  0.083333  0.156250
assessor390  390.0  25218.064935  0.805195  0.090909  0.129870
assessor234  234.0  33831.526316  0.842105  0.157895  0.000000

In [215]:
# 10 последних результатов по общей доле правильно выполненных оценок

gbum.sort_values(by = ['success'], ascending=False).tail(10)

               uid         docid       jud      cjud   success
login
assessor71    71.0  25505.374134  0.307159  0.124711  0.757506
assessor154  154.0  25381.249383  0.293827  0.143210  0.755556
assessor335  335.0  25436.670644  0.281623  0.109785  0.742243
assessor9      9.0  24435.907801  0.314421  0.125296  0.739953
assessor550  550.0  25520.703125  0.343750  0.101562  0.726562
assessor234  234.0  26636.383838  0.535354  0.141414  0.484848
assessor390  390.0  25813.803398  0.541262  0.114078  0.480583
assessor118  118.0  23988.383632  0.547315  0.099744  0.475703
assessor3      3.0  24876.056338  0.542254  0.115023  0.460094
assessor56    56.0  24636.041363  0.574209  0.111922  0.425791

Анализируя приведённые выше срезы можно отметить несколько моментов:

1. Довольно четко прослеживаются "лидеры забега" среди наименее качественно выполняющих оценку асессоров. Это асессоры с id: 56, 3, 234, 390, 118, 9

2. Учёт сложности оцениваемого материала позволил отделить асессоров, плохо работающих со всеми категориями данных.

3. С 10% наиболее лёгких документов все асессоры справляются на 100%. Данный факт обуславливает возможность не учитывать данные результаты при дальнейшем анализе.

Считаю нецелесообразным дальнейший анализ всех пользователей.
Необходимо выделить 5% последних мест (600 * 0,05 = 30) в рейтингах общего процента выполнения и результатов выполнения 10% тяжёлых.
Произвести анализ на перекрёстное вхождение асессоров в обе группы и отсеять тех, кто находится лишь в одном списке.
Извлечь данные об общем количестве оценок каждого асессора, чтобы минимизировать возможность негативного влияния выборки малых размеров.
На основании полученных данных составить итоговый список.

In [307]:
last_50_gbum = gbum.sort_values(by = ['success'], ascending=False).tail(30)
last_50_hard = filter_last.sort_values(by = ['success'], ascending=False).tail(30)

keys_50_gbum = last_50_gbum.index.unique()
keys_50_hard = last_50_hard.index.unique()

In [308]:
final_list = [i for i in keys_50_gbum if i in keys_50_hard]

Переменная final_list содержит логины 23 асессоров, входящих в топ-50 худших по общей доле правильно выполненных заданий, а также топ-50 наиболее плохо справившихся с 10% наиболее трудных документов.

In [309]:
filter_final = df.query('index in @final_list')

In [311]:
# Создаем финальную таблицу

final_group = filter_final.groupby('login')
counts = final_group.size().to_frame(name='counts')
final_table = counts .join(final_group.agg({'success': 'mean'}).rename(columns={'success': 'general_mean'})).reset_index()

In [312]:
final_table.head()

         login  counts  general_mean
0  assessor118     391      0.475703
1   assessor13     413      0.774818
2  assessor219     394      0.761421
3  assessor234      99      0.484848
4    assessor3     426      0.460094

In [313]:
final_table = final_table.set_index('login')

In [314]:
# Добавляем данные по 10 % наиболее сложных документов
upgrade_filter_last = filter_last.query('index in @final_list')
upgrade_filter_last = upgrade_filter_last.rename(columns={"success": "hard10perc"})

In [315]:
result = pd.concat([upgrade_filter_last, final_table], axis=1, join='inner')

In [316]:
del result['docid']
del result['jud']
del result['cjud']

In [317]:
columnsTitles=['uid', 'counts', 'hard10perc', 'general_mean']
result = result.reindex(columns=columnsTitles)
result['multiplication'] = np.nan

for i in range (0, len(result)):
    result.iloc[i, result.columns.get_loc('multiplication')] = result['hard10perc'].iloc[i] * result['general_mean'].iloc[i]

In [318]:
pd.set_option('display.max_row', 30)

result.sort_values(by = ['multiplication'])

               uid  counts  hard10perc  general_mean  multiplication
login
assessor234  234.0      99    0.000000      0.484848        0.000000
assessor390  390.0     412    0.129870      0.480583        0.062413
assessor56    56.0     411    0.166667      0.425791        0.070965
assessor3      3.0     426    0.156250      0.460094        0.071890
assessor118  118.0     391    0.212121      0.475703        0.100907
assessor9      9.0     423    0.258621      0.739953        0.191367
assessor219  219.0     394    0.255814      0.761421        0.194782
assessor412  412.0     402    0.289474      0.763682        0.221066
assessor335  335.0     419    0.333333      0.742243        0.247414
assessor13    13.0     413    0.320000      0.774818        0.247942
assessor366  366.0     413    0.333333      0.769976        0.256659
assessor451  451.0     402    0.351852      0.778607        0.273954
assessor71    71.0     433    0.361702      0.757506        0.273991

Выше приведена финальная таблица с показателями асессоров, попавших в топ 5% самых худших результатов, как по общему проценту правильно выполненных, так и по 10% наиболее сложных для оценки документов.

Произведение общей доли правильно выполненных заданий и доли для 10% наиболее тяжёлых является одним из наиболее простых комплексных оценочных показателей, который можно вывести из полученных результатов. В зависимости от выставляемых приоритетов возможно введение при расчёте коэффициентов, позволяющих увеличить влияние наиболее важных для нас параметров.

Для получения более полной картины к полученным данным следует добавить среднее время, затрачиваемое сотрудником на оценку 1 документа. Такие показатели как общее среднее время, среднее время для 10% лёгких, среднее время для 10% тяжёлых, среднее время на правильный ответ, среднее время на ложный ответ могут значительно облегчить работу по выявлению неэффективных сотрудников, а для их рассчёта достаточно времени, затраченного на выполнение задания.

Как видно, первое место занял асессор №234, что обусловлено 0% выполнения заданий из 10% самых сложных. 
Данный случай необходимо рассмотреть особо, чтобы исключить возможность увольнения недавно нанятого сотрудника.
Ниже в таблице приведены результаты оценки данным асессором документов из 10% наиболее сложных для оценки. Как видно из таблицы, 0.0% правильно выполненных заданий из 19 не обусловлены влиянием отдельных неправильных результатов. Поэтому я считаю нецелесообразным убирать данного асессора из финальной таблицы.

In [319]:
filter_10_last.groupby('login').get_group('assessor234').sort_values(by = ['success'], ascending=False)

             uid  docid  jud  cjud  success
login
assessor234  234   6912    1     0      0.0
assessor234  234  40178    1     0      0.0
assessor234  234  47538    1     0      0.0
assessor234  234  42501    1     0      0.0
assessor234  234  42265    1     0      0.0
assessor234  234  42221    0     1      0.0
assessor234  234  41941    1     0      0.0
assessor234  234  41596    1     0      0.0
assessor234  234  41299    0     1      0.0
assessor234  234  36940    1     0      0.0
assessor234  234  11964    0     1      0.0
assessor234  234  34782    1     0      0.0
assessor234  234  34491    1     0      0.0
assessor234  234  32047    1     0      0.0
assessor234  234  30202    1     0      0.0
assessor234  234  28599    1     0      0.0
assessor234  234  21945    1     0      0.0
assessor234  234  15418    1     0      0.0
assessor234  234  49960    1     0      0.0