Имеется файл с временной статистикой работы асессоров над однотипным заданием. 

Формат файла: login tid Microtasks assigned_ts tclosed_ts 

Пояснение к формату: login — логин асессора; 
                     tid — id оцениваемого задания (task id); 
                     Microtasks – количество микрозаданий в одном задании; 
                     assigned_ts — время резервирования системой задания для асессора; 
                     closed_ts — точное время завершения работы над заданием; 
                     
                     разделитель — табуляция \t. 
                     
Задание может состоять из одного или несколько микрозаданий. Время резервирования задания (assigned_ts) указывает на тот момент, когда система назначила определенного асессора исполнителем этого задания. Этот момент может совпадать с временем начала работы асессора над заданием, а может и не совпадать (асессор может отойти выпить чаю, а потом приступить к заданию, асессор может выполнять предыдущее задание, в то время как за ним зарезервированы новые). 

Предположим, что асессор за 30 секунд своего рабочего времени получает N рублей. Какую оплату вы считаете справедливой для выполнения асессором одного микрозадания из этого файла? Опишите подробно все этапы вашего решения.

для выполнения асессором одного микрозадания

# Следовательно, нам не нужно давать оценку, ориентируясь на время

# Нужно взять данные, отбросить лишнее, рассчитать оптимальное время выполнения 1 микротаски и выразить данное время через N

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data_task4_old.txt', sep='\t', index_col=0)

In [7]:
df.head(5)

                tid  Microtasks          assigned_ts            closed_ts
login
login0  190563850.0         4.0  2017-04-20 12:09:39  2017-04-20 13:13:01
login0  190561754.0         1.0  2017-04-20 12:10:30  2017-04-20 12:28:29
login0  190565906.0         4.0  2017-04-20 12:21:31  2017-04-20 13:30:10
login0  190560246.0         1.0  2017-04-20 12:28:30  2017-04-20 13:13:56
login0  190562168.0         2.0  2017-04-20 12:28:42  2017-04-20 13:14:50

Предварительный план:

1. Проверить гипотезу о том, что для каждому tid соответствует лишь одна запись о выполнении

Если гипотеза не верна, то сгруппировать по tid 
Если гипотеза верна то отобрать тестовый набор данных

Исходя из условий возможным вариантом решения считаю:
1. Рассчитать время, потраченное на каждую таску, построить график, оценить полученные данные

Предположительно, показатель времени, затраченного на задание, имеет нормальное распределение
Если это так, то нам следует рассчитать порог в 3 стандартных отконения, чтобы отбросить экстремальные значения

2. Рассчитать время, потраченное на каждую микротаску для каждого выполнения, построить график, оценить

In [4]:
print(len(df))

701827

In [8]:
test_data = df.head(100000)

In [13]:
test = df.groupby('tid')

In [14]:
%%time

print(len(test))

635044
Wall time: 8.6 s

In [15]:
task = df.groupby('Microtasks')

In [16]:
%%time

print(len(task))

50
Wall time: 73 ms

In [17]:
Microtasks = df.Microtasks.unique()

In [18]:
for i in Microtasks:
    print(i)

4.0
1.0
2.0
5.0
3.0
9.0
6.0
8.0
7.0
11.0
12.0
16.0
13.0
10.0
17.0
14.0
23.0
26.0
15.0
18.0
24.0
20.0
19.0
22.0
21.0
31.0
25.0
48.0
27.0
35.0
34.0
33.0
29.0
28.0
39.0
32.0
50.0
43.0
30.0
38.0
49.0
40.0
37.0
41.0
36.0
42.0
45.0
46.0
44.0
47.0